{% extends 'admin/base.admin.html.twig' %}

{% block colRight %}
    <h1 class="mb-4">Catégories</h1>

    <p><a href="#" class="btn btn-primary">Ajouter</a></p>

    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        {% for result in results %}
            <tr>
               <td>{{ result.translations['fr'].name | capitalize }}</td>
                <td>{{ result.translations['fr'].description  }}</td>
                <td>
                    <a href="{{ url('admin.category.update', { 'id' : result.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
